.workflow-canvas-node-label {
  display: block;
  text-align: center;
}

.workflow-canvas-output {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 0;
  height: 0;
}

.workflow-canvas-output-handle {
  left: 0;
}
